.GardenIsland {
    font-family: 'Anton', sans-serif;
    color: #287E3A;
}

.gardenlogo {
    margin-top: 40px;
}

.searchtext {
    font-weight: bold;
    margin: 10px 0;
    font-size: 15px;
}

.gardenLocation {
    font-size: 18px;
    font-family: 'SBAggro2';
    margin-top: 15px;
}

.search form {
    width: 200px;
    margin: 20px auto;
    border: 2px solid #287e3a;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.searchInput {
    width: 140px;
    background: none;
    border: none;
}

.searchSubmit {
    width: 50px;
    background: none;
    border: none;
    z-index: 3;
}

.searchIcon {
    position: absolute;
    right: 5px;
    bottom: 2.5px;
}

.fixbackground {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
}

@media (min-width: 1024px) {
    .fixbackground {
        position: fixed;
        bottom: 0;
    }
    .wave {
        width: auto;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .fixbackground {
        position: fixed;
        bottom: 0;
    }
    .wave {
        width: auto;
    }
}

.GardenIsland {
    overflow-y: visible;
}

.boothmain {
    height: 100vh;
    display: grid;
    align-content: center;
}

.flexbooth {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-radius: 20px;
    margin-bottom: 15px;
    position: relative;
    background-color: white;
}

.listImg img {
    width: 100px;
    overflow: hidden;
}

.boothlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.boothtitle {
    font-family: 'SBAggro2';
    font-size: 15px;
    margin: 0;
}

.boothmenu {
    font-family: 'SBAggro1';
    font-size: 12px;
    margin: 0;
    width: 170px;
    text-align: left;
    word-break: keep-all;
}

.star {
    position: absolute;
    right: 15px;
    bottom: 12px;
}

.listImg img {
    border-radius: 20px 0 0 20px;
    margin-right: 20px;
}


/* grid 버전 */

.Ggardenbooth {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Gflexbooth {
    display: flex;
    flex-direction: column;
    width: 140px;
    align-items: center;
    border: none;
    border-radius: 20px;
    margin-bottom: 15px;
    position: relative;
    background-color: white;
}

.Gboothlist {
    display: flex;
    flex-direction: column;
}

.Gboothtitle {
    font-family: 'SBAggro2';
    font-size: 15px;
    margin: 0;
}

.Gboothmenu {
    font-family: 'SBAggro1';
    font-size: 12px;
    margin: 0;
    width: 170px;
    text-align: left;
    word-break: keep-all;
    text-align: center;
}

.Gstar {
    position: absolute;
    right: 15px;
    top: 9px;
}

.GlistImg img {
    border-radius: 20px 20px 0 0;
}