body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

.App {
    color: white;
    height: 100vh;
    width: 375px;
    text-align: center;
}


/* 메뉴바 */

.Nav {
    display: flex;
    position: fixed;
    top: 0;
    padding: 30px;
}